section {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

ul {
  display: flex;
  text-align: center;
  padding: 0 35px 0 35px;
}

ul li {
  padding: 0.8rem;
}

nav ul li a ::marker {
  color: #ff8d6b;
}

.section-search {
  display: block;
  text-align: center;
}

.btn-colocar-para-adocao {
  background-color: #45ffcb;
  border: 0;
  font-weight: 600;
}
